.commodity_detail_top{
    margin-bottom: 20px;
    display: inline-block;
    .detail_big_img{
        width: 66.66%;
        float: left;
        img{
            width: 100%;
        }
    }
    .detail_direction{
        h1{
            line-height: 2rem;
            margin:20px 0;
            font-size: 1.4rem;
            font-weight: 100;
        }
        width: 33.3%;
        float: left;
        //height: 200px;
        //background: deeppink;
        box-sizing: border-box;
        padding: 0 0 0 20px;
        .detail_img_right{
            p{
                font-size: 0.825rem;
            }
            padding: 20px 0 0;
            box-sizing: border-box;
            border-top: 1px solid #e0e0e0;
            li{
                float: left;
                box-sizing: border-box;
                padding: 1px;
                //border: 1px solid #000;
                //display: inline-block;
                margin-right: 7px;
                margin-top: 7px;
                width: 68px;
                height: 67px;
                img{
                    width: 100%;
                }
            }
            a{
                display:block;
            }
            .choose_img1{
                border: 1px solid #000;
            }
            .choose_img2{
                border: 1px solid #ccc;
            }
        }
        .detail_market{
            width: 100%;
            float: left;
           // height: 200px;
            //background: pink;
            p,h4{
                //clear: both;
                text-align: left;
                color: #777;
                //text-transform: none;
                margin-top: 20px;
                font-size: .8125rem;
                line-height: 1.2rem;
                font-weight: 100;
            }
            .goods_price{
                margin-bottom: 50px;
            }
            .detail_market_address{
                .market_address_box{
                    display: block;
                    //cursor: pointer;
                    margin-top: 5px;
                    position: relative;
                    padding: 20px 40px;
                    text-align: center;
                    text-decoration: underline;
                    font-size: .8125rem;
                    border: 1px solid #e0e0e0;
                    .market_address_detail{
                        display: block;
                        color: #000;
                        text-align: center;
                    }
                    .address_img{
                        display: block;
                        position: absolute;
                        right: 15px;
                        top: 22px;
                        width: 30px;
                        height: 25px;
                        text-decoration: underline;
                        //background: deeppink;
                    }
                }
                .callus{
                    text-align: center;
                    text-decoration: underline;
                    font-size: .8125rem;
                    display: block;
                    text-align: center;
                    margin-top: 5px;
                    font-size: .8125rem;
                    color: #000;
                }
            }
            
        }
    }
}
.commodity_detail_bottom{
    width: 100%;
    // height: 500px;
    // background: deepskyblue;
    float: left;
    .detail_bottom_img1{
        width: 33%;
        padding-right: 20px;
        box-sizing: border-box;
        float: left;
        img{
            width: 100%;
        }
    }
    .detail_bottom_img2{
        width: 33%;
        padding-left: 20px;
        box-sizing: border-box;
        float: left;
        img{
            width: 100%;
        }
    }
    .detail_bottom_explain_right{
        width: 33.33%;
        padding: 0 10px 0 20px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        .explain_bag,.explain_special,.explain_code{
            width: 100%;
            //-moz-box-sizing: border-box;
            //-webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-transform: uppercase;
            padding: 25px 65px 25px 25px;
            text-align: left;
            border-top: 1px solid #e0e0e0;
            cursor: pointer;
            font-size: .8125rem;
        }
        // .explain_special{
        //     width: 100%;
        //     -moz-box-sizing: border-box;
        //     -webkit-box-sizing: border-box;
        //     box-sizing: border-box;
        //     text-transform: uppercase;
        //     padding: 25px 65px 25px 25px;
        //     text-align: left;
        //     border-top: 1px solid #e0e0e0;
        //     cursor: pointer;
        //     font-size: .8125rem;
        // }
        .explain_bag,.explain_special{
            position: relative;
            span{
                display: block;
                position: absolute;
                right: 5px;
                top: 25px;
                width: 15px;
                height: 15px;
                
            }
        }
    }
    
}
.goods_about{
    float: left;
    width: 100%;
    box-sizing:border-box ;
    //padding: 0 20px;
    hr{
        height: 1px;
        border: 0;
        background: #e0e0e0;
        margin: 40px 0;
    }
    p{
        //padding: 0 20px;
        font-size: 1rem;
        margin-bottom: 20px;
    }
    .goods_about_goods{
        width: 31%;
        border: 1px solid #e0e0e0;
        margin-bottom: 15px;
        a{
            display: inline-block;
        }
        img{
            width: 100%;
        }
    }
}